@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <head>

    </head>
    <body>
    <div class="text-center">
        <a asp-page="Logout"><button style="position: absolute; top: 0.5em; right: 1em">Logout</button></a>
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    </body>
</html>

